{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>What I Watched</title>
        <link rel="stylesheet" href="{% static 'visuals/muse-ui.css' %}" type="text/css" />
        <!--<link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">-->
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="{% static 'visuals/app.min.js' %}"></script>
    </body>
</html>